html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #e6f5ff;
      }
#map {
  height: 80%;
  width: 70%;
  float: right;
  left: -20px;
}
#floating-panel {
  position: absolute;
  top: 100px;
  left: 70%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#user-checklists {
  float: left;
  width: 10%;
}

#edit-profile {
  float: bottom;
}

.logout {
  padding: 13px;
  /*color: #777;*/
  background-color: #fff;
}

.checklist-show {
  text-align: center;
}

/*#functionality {
  margin-top: 50%;
}
*/
