<div class='container'>
  <h2><%= "Hi, #{current_user.username}" %></h2>

  <div id="add-checklist">
    <p>Add a new <a href="/checklists/new">checklist</a></p>
  </div>

  <div id="user-checklists">
    <ul>
      <% @user.checklists.each do |checklist| %><br>
        <li><a href="/checklists/<%= checklist.id %>"><%= checklist.list_name %></a></li>
      <% end %>
    </ul>
  </div>

  <div id="edit-profile">
    <p><a href="/users/<%= current_user.id %>/edit">Edit</a> your profile</p>
  </div>
</div>
