<div class="container index">
  <h1>Welcome to Bird List!<small>  A birding app</small></h1>
  <h2>Capabilities</h2>
    <ul>
      <li>Add birding checklists</li>
      <li>Display checklists on a map</li>
      <li>Add individual sightings to your checklist</li>

    </ul>
  <img src="//images.nationalgeographic.com/wpf/media-live/photos/000/127/cache/cerulean-warbler_12756_600x450.jpg">
  <p><small>PHOTOGRAPH BY WIL HERSHBERGER, MY SHOT</small></p>
</div>
